<h3>Задание:</h3> Простое число называется числом Мерсена, если оно может быть пред ставлено в виде 2*p - 1, где p – тоже простое число. Написать программу, 
определяющую количество чисел Мерсена ≤ некоторого n (n вводится с 
клавиатуры). Вывести на печать числа Месена и их количество в указанном диапазоне.
<h4>Форма</h4>
<%= form_with url: "palindroms/result", method: :get do |form| %>
  <p><%= form.label :query, "Введите верхнюю границу диапазона [0,n]" %></p>
  <p><%= form.number_field(:num, {:class => 'form-control'}) %></p>
  <p><%= form.submit "Найти" %></p>
<% end %>